body{
    background: #00BCD4;
}
header{
    background-color: #0097A7;
    padding-top: 1%;
    border-bottom: 1px solid #BDBDBD;
    height: 60px;
}
.comp-name{
    margin-left: 2%;
    font-size: 250%;
    height: 100%;
    width: fit-content;
    font-weight: 700;
}
.link-div{
    margin-left: 5%;
    margin-bottom: 1.25%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    vertical-align: middle;
}
.page-link{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 8%;
}
.profile-pic{
    display: none;
    vertical-align: middle;
    float: right;
    margin-right: 2.5%;
    border: 0.5px double grey;
    border-radius: 100%;
    height: 70%;
    width: 42px;
}
.log-in{
    height: 60%;
    background-color: #B2EBF2;
    color: #757575;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    margin-right: 1%;
    margin-top: .25%;
    width: 90px;
}
.sign-in{
    margin-top: .25%;
    margin-right: 0.5%;
    float: right;
    height: 60%;
    background-color: #0097A7;
    border: 1px solid white;
    border-radius:5px;
    width: 90px;
}
main{
    padding-top: 5%;
    padding-left: 20%;
}
.input-div{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding-right: 8%;
}
input, textarea{
    border: none;
    padding: 12px;
    width: 250px;
    background: #f2f2f2;
    border-radius: 3px;
    outline: none;
    width: fit-content;
}

.desc-input{
    margin-top: 2%;
}
.term-div{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.add-term-btn{
    margin-top: 1.5%;
    height: 40px;
    width: 40px;
    color: white;
    background-color: #FFC107;
    border: 1px solid #0097A7;
    border-radius: 6px;
    font-weight: 600;
}
.submit-btn{
    margin-left: 1.5%;
    height: 40px;
    width: 120px;
    color: white;
    background-color: #4255FF;
    border: 1px solid #00BCD4;
    border-radius: 6px;
    font-weight: 600;
}
.rm-term-btn{
    height: 40px;
    width: 40px;
    color: white;
    font-weight: 600;
    background-color: red;
    border: 1px solid #00BCD4;
    border-radius: 6px;
    margin-left: 1.5%;
}
.sign-in:hover{
    background-color: #198895;
}
.log-in:hover{
    background-color: #8cbec4;
}