body{
    background: #00BCD4;
}
header{
    background-color: #0097A7;
    padding-top: 1%;
    border-bottom: 1px solid #BDBDBD;
    height: 60px;
}
.comp-name{
    margin-left: 2%;
    font-size: 250%;
    height: 100%;
    width: fit-content;
    font-weight: 700;
}
.link-div{
    margin-left: 5%;
    margin-bottom: 1.25%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    vertical-align: middle;
}
.page-link{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 8%;
}
.profile-pic{
    display: none;
    vertical-align: middle;
    float: right;
    margin-right: 2.5%;
    border: 0.5px double grey;
    border-radius: 100%;
    height: 70%;
    width: 42px;
}
.log-in{
    height: 60%;
    background-color: #B2EBF2;
    color: #757575;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    margin-right: 1%;
    margin-top: .25%;
    width: 90px;
}
.sign-in{
    margin-top: .25%;
    margin-right: 0.5%;
    float: right;
    height: 60%;
    background-color: #0097A7;
    border: 1px solid white;
    border-radius:5px;
    width: 90px;
}
main{
    padding-top: 5%;
    padding-left: 20%;
}
.input-div{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding-right: 8%;
}

.term-div{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.add-term-btn{
    margin-top: 1.5%;
    height: 40px;
    width: 40px;
    color: white;
    background-color: #FFC107;
    border: 1px solid #0097A7;
    border-radius: 6px;
    font-weight: 600;
}
.submit-btn{
    margin-left: 1.5%;
    height: 40px;
    width: 120px;
    color: white;
    background-color: #4255FF;
    border: 1px solid #00BCD4;
    border-radius: 6px;
    font-weight: 600;
}
.rm-term-btn{
    height: 40px;
    width: 40px;
    color: white;
    font-weight: 600;
    background-color: red;
    border: 1px solid #00BCD4;
    border-radius: 6px;
    margin-left: 1.5%;
}
.sign-in:hover{
    background-color: #198895;
}
.log-in:hover{
    background-color: #8cbec4;
}
.test-name{
    margin-bottom: 3%;
    font-weight: 600;
    font-size: 330%;
}
.show-def{
    margin-bottom: 3%;
    background: #B2EBF2;
    width: 70%;
    height: 50px;
    font-size: xx-large;
    padding-top: 12px;
    padding-left: 1%;
    border: 1px solid #0097A7;
    border-radius: 6px;
}
.def-text{
    margin-left: 3%;
}
.play-btn-div{
    display: flex;
    margin-bottom: 2.5%;
    flex-wrap: wrap;
    flex-direction: row;
}
.flash-btn{
    color: white;
    background: #4255FF;
    height: 60px;
    width: 85px;
    text-align: center;
    border: 1px solid #0097A7;
    border-radius: 6px;
    font-weight: 550;
}
.mult-btn{
    color: white;
    font-weight: 550;
    margin-left: 3%;
    background: #e2ab05;
    height: 60px;
    width: 85px;
    text-align: center;
    border: 1px solid #0097A7;
    border-radius: 6px;
}
.write-btn{
    color: white;
    font-weight: 550;
    margin-left: 3%;
    background: #046f19;
    height: 60px;
    width: 85px;
    text-align: center;
    border: 1px solid #0097A7;
    border-radius: 6px;
}
.edit-btn{
    display: inline-block;
    background-color: rgb(64, 208, 64);
    height: 60px;
    width: 60px;
    border: 1px solid #0097A7;
    border-radius: 6px;
    color: white;
}
.delete-btn{
    color: white;
    display: inline-block;
    background-color: red;
    margin-left: 3%;
    height: 60px;
    width: 60px;
    border: 1px solid #0097A7;
    border-radius: 6px;
}
.sign-up-div, .log-in-div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    width: 29%;
    margin: auto;
    border: 1px solid #00BCD4;
    border-radius: 6px;
    height: 250px;
    justify-content: center;
    justify-items: center;
    padding: 1%;
    right: 128px;
}
.sign-up-div{
    display: none;
}
.term-input,.title-input,.desc-input, .def-input  {
    border: none;
    padding: 12px;
    width: 250px;
    background: #f2f2f2;
    border-radius: 3px;
    outline: none;
    width: fit-content;
}

.desc-input{
    margin-top: 2%;
}
.singup-btn, .login-btn{
    width: 100px;
    margin: 0 auto
}
.eye-icon{
    position: absolute;
    height: 14px;
    width: 19px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    background-image: url("img/eyeIconBetter.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 40.2%;
    top: 34.25%;
    z-index: 1;
}
.eye-icon:hover{
    background-color: rgb(246, 241, 241);
}
input{
    margin-left: 13%;
    margin-bottom: 10%;
    width: 65%;
    padding-left: 3%;
    padding-right: 6%;
    resize: none;
}
.add-btn{
    background-color: #FFC107;
    border: 1px solid #0097A7;
    border-radius: 6px;
    height: 120px;
    color: white;
    width: 160px;
    font-size: 250%;
    padding: 0.5%;
}
.add-btn:hover{
    background-color: #cfa72f;
}