body {
    background: #00BCD4;
}

header {
	position: sticky;
    background-color: #0097A7;
    border-bottom: 1px solid #BDBDBD;
    height: 60px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

button {
    transition: transform .2s;
    /* Animation */
}

button:hover {
    transform: scale(1.05);
}

.comp-name {
    margin-left: 2%;
    font-size: 250%;
    width: fit-content;
    font-weight: 700;
}

.gtest {
    width: 91px;
    height: 30px;
}


.link-div {
    margin-right: auto;
    margin-bottom: 1.25%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 35%;
	height:50%;
	margin-left:5%;
	align-items: end;
}

.page-link {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 8%;
}

.profile-pic {
    display: none;
    vertical-align: middle;
    float: right;
    margin-right: 2.5%;
    border: 0.5px double grey;
    border-radius: 100%;
    height: 70%;
    width: 42px;
}

.profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 100%;
}

.log-in {
    height: 60%;
    background-color: #B2EBF2;
    color: #757575;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    margin-right: 1%;
    margin-top: .25%;
    width: 90px;
}

.sign-in {
    margin-top: .25%;
    margin-right: 0.5%;
    float: right;
    height: 60%;
    background-color: #0097A7;
    border: 1px solid white;
    border-radius: 5px;
    width: 90px;
}

.main-div {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
	height: 100vh;
}

.add-btn {
	display: inline;
    background-color: #FFC107;
    border: 1px solid #0097A7;
    border-radius: 6px;
    height: 125px;
    color: white;
    width: 160px;
    font-size: 250%;
	margin-top: 3%;
	margin-right: 5%;
}

.add-btn:hover {
    background-color: #cfa72f;
}

.test-profile {
    display: inline-flex;
    background: #B2EBF2;
    height: 125px;
    width: 160px;
    border: 1px solid #0097A7;
    border-radius: 6px;
    margin-right: 5%;
    flex-direction: column;
    padding: 0.5%;
    box-sizing: border-box;
    transition: transform .2s;
	margin-top: 3%
}

.test-profile:hover {
    transform: scale(1.05);
    /*background: #9bcbd1;*/
}

.test-name {
    font-weight: 540;
    font-size: 120%;
}

.quest-count {
    background: #BDBDBD;
    width: fit-content;
    border: 1px solid #BDBDBD;
    border-radius: 12.5rem;
    font-size: 60%;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
}

.author-name {
	display:flex;
	align-items: center;
    margin-top: auto;
}

.sign-in:hover {
    background-color: #198895;
}

.log-in:hover {
    background-color: #8cbec4;
}

.sub-menu {
    display: none;
    position: absolute;
    bottom: 80%;
    right: 0%;
    width: 160px;
    height: 80px;
    background-color: #0097A7;
    margin: 10px;
    border: 0.5px solid #BDBDBD;
    border-radius: 3px;
}

.sub-in {
    border: 0.5px solid #BDBDBD;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
}

.logout-btn:hover {
    background-color: #088e9d;
}

.sub-text {
    scale: 1.1;
}
.heart-btn{
    margin-left: 5%;
    --c: grey;
    background:
   radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%),
   radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%),
   conic-gradient(from -45deg at 50% 84%,var(--c) 90deg,#0000 0) 
    bottom/100% 50% no-repeat;
    height: 100%;
    border: none;
    aspect-ratio: 1;
}
.heart-btn:hover{
    transform: scale(1.15)
}
.main-label{
	display:flex;
	align-items: center;
	justify-content: center;
    color: white;
    font-weight: 800;
    margin-right: 5%;
    font-size: x-large;
	width: 160px;
	text-align: center;
}
.test-container{
	display:flex; 
	flex-direction: row;
	flex-wrap: wrap;
    margin-bottom: 10%;
	align-items: center;
}


nav{
	display: none;
}

.header-drop{
	display:none;
	float: right;
	height: fit-content;
	width: 15%;
	color: white;
	border: none;
	margin-right: 1%;
	justify-content: center;
	float: right;
	margin-left: auto;
	background: #0097A7;
	margin-bottom: auto;
}
.drop{
	display: none;
}


@media screen and (max-width:500px){	
.header{
		display:none
	}
	.header-drop{
		display: none;
		flex-direction: column;
	}
	nav{
		position: fixed;
		height: 100px;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		background: #0097A7;
		width: fit-content;
		float: right;
		padding: 1%;
		left: auto;
		right:0;
	}
	.drop{
		display: inline;
		margin: 0;
		margin-bottom: 2%;
	}
}

@media screen and (max-width: 500px){
	.add-btn, .test-profile, .main-label{
		width: 140px;
		height: 100px;

	}
	.add-btn{
		margin-right: none;
		}

}
